PORT=4000
CORS_ORIGIN=*  

MONGO_URI="mongodb+srv://takeshwarverma124:PetPuja@cluster0.mlxfkvs.mongodb.net"

CLOUDINARY_CLOUD_NAME=do3fiil0d
CLOUDINARY_API_KEY=279377118955315
CLOUDINARY_API_SECRET=2VuDh5pMfBlxqunre38Qj_KxrNY

RAZORPAY_API_KEY=rzp_test_s79mdLqr3Mp1I3
RAZORPAY_API_SECRET=ZvPWe37koEohjyloJoOZhfK3